*
{
  user-select: none;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;

  }




  
  #game {
    width: 300px;
    margin: 100px auto;
    background-color: rgb(53, 53, 92);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  #enemy {
    margin-bottom: 20px;
 
  }
  
  #attack-button, #upgrade-dps {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }

  #containerShop {
    display: flex;
    justify-content: center;
  }
  
  #shop {
    flex: 1;
  }

  #shop p {
    margin: 0 auto;
    text-align: center;
  }

  #automatic {
    flex: 1;
  }

  #automatic-dps{
    padding: 3px 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  #enemy-image
  {
    height: 100%;
    width: 100%;
  }